<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coding Buddy</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
</head>

<body>
  <div class="wrapper">
    <header>
       <svg  id="title" width="1000" height="100">
          <a href="/" ><path stroke="cyan" stroke-width="1.5" fill="none" d="M72.807 50.010 C 66.352 53.026,65.121 70.304,70.976 75.704 C 74.495 78.950,82.183 78.033,85.002 74.031 C 88.374 69.244,85.784 67.377,81.731 71.674 C 75.206 78.593,68.483 68.414,71.945 56.858 C 73.355 52.154,77.861 51.314,81.449 55.086 C 85.425 59.265,88.640 58.291,85.603 53.828 C 82.440 49.182,77.644 47.751,72.807 50.010 M126.448 54.460 C 126.448 60.041,126.480 59.992,123.958 58.128 C 118.418 54.031,113.501 59.323,114.057 68.783 C 114.537 76.958,120.131 80.834,124.934 76.321 L 126.448 74.899 126.448 76.260 C 126.448 77.355,126.815 77.621,128.326 77.621 L 130.203 77.621 130.203 63.537 L 130.203 49.452 128.326 49.452 L 126.448 49.452 126.448 54.460 M136.463 51.330 C 136.463 52.999,136.672 53.208,138.341 53.208 C 140.010 53.208,140.219 52.999,140.219 51.330 C 140.219 49.661,140.010 49.452,138.341 49.452 C 136.672 49.452,136.463 49.661,136.463 51.330 M202.191 63.537 L 202.191 77.621 208.784 77.621 C 216.410 77.621,219.156 76.768,220.616 73.946 C 222.648 70.015,221.697 65.908,218.270 63.819 C 217.150 63.136,216.708 62.601,217.262 62.600 C 220.402 62.593,222.403 56.848,220.531 53.217 C 218.879 50.015,217.247 49.472,209.233 49.461 L 202.191 49.452 202.191 63.537 M261.659 54.460 C 261.659 60.041,261.692 59.992,259.169 58.128 C 253.629 54.031,248.712 59.323,249.268 68.783 C 249.748 76.958,255.342 80.834,260.146 76.321 L 261.659 74.899 261.659 76.260 C 261.659 77.355,262.026 77.621,263.537 77.621 L 265.415 77.621 265.415 63.537 L 265.415 49.452 263.537 49.452 L 261.659 49.452 261.659 54.460 M283.568 54.460 C 283.568 60.041,283.601 59.992,281.079 58.128 C 275.538 54.031,270.622 59.323,271.177 68.783 C 271.657 76.958,277.251 80.834,282.055 76.321 L 283.568 74.899 283.568 76.260 C 283.568 77.355,283.935 77.621,285.446 77.621 L 287.324 77.621 287.324 63.537 L 287.324 49.452 285.446 49.452 L 283.568 49.452 283.568 54.460 M215.044 53.489 C 217.007 54.310,217.214 54.635,217.214 56.897 C 217.214 60.361,215.659 61.346,210.189 61.346 L 205.947 61.346 205.947 56.964 L 205.947 52.582 209.410 52.582 C 211.314 52.582,213.850 52.990,215.044 53.489 M96.401 58.060 C 90.593 60.962,90.398 74.289,96.126 76.899 C 103.503 80.260,109.490 75.072,108.758 65.950 C 108.150 58.374,102.717 54.905,96.401 58.060 M152.161 58.585 C 150.307 60.144,150.235 60.156,150.235 58.898 C 150.235 57.862,149.844 57.590,148.357 57.590 L 146.479 57.590 146.479 67.606 L 146.479 77.621 148.304 77.621 L 150.130 77.621 150.339 70.058 C 150.568 61.750,151.049 60.720,154.691 60.720 C 157.993 60.720,158.998 63.076,158.998 70.820 L 158.998 77.621 160.876 77.621 L 162.754 77.621 162.753 70.266 C 162.752 58.457,158.234 53.474,152.161 58.585 M172.144 57.764 C 167.106 60.282,166.994 74.406,171.990 77.081 C 174.258 78.294,177.666 77.945,179.394 76.321 L 180.908 74.899 180.908 76.280 C 180.908 81.083,177.304 83.711,173.451 81.719 C 169.831 79.847,167.617 82.422,171.049 84.514 C 175.584 87.279,182.271 85.302,183.846 80.729 C 184.302 79.405,184.607 74.476,184.628 68.075 L 184.664 57.590 182.786 57.590 C 181.534 57.590,180.908 57.903,180.908 58.529 C 180.908 59.772,180.479 59.714,178.575 58.216 C 176.761 56.790,174.423 56.625,172.144 57.764 M136.463 67.606 L 136.463 77.621 138.341 77.621 L 140.219 77.621 140.219 67.606 L 140.219 57.590 138.341 57.590 L 136.463 57.590 136.463 67.606 M227.230 64.748 C 227.230 72.467,227.635 74.279,229.814 76.309 C 231.786 78.147,236.320 78.121,238.301 76.260 L 239.750 74.899 239.750 76.260 C 239.750 77.355,240.117 77.621,241.628 77.621 L 243.505 77.621 243.505 67.606 L 243.505 57.590 241.628 57.590 L 239.750 57.590 239.750 64.336 C 239.750 72.684,239.094 74.030,235.167 73.742 C 231.617 73.482,231.007 72.058,230.995 64.006 L 230.986 57.590 229.108 57.590 L 227.230 57.590 227.230 64.748 M291.706 57.756 C 291.706 57.892,293.272 62.205,295.187 67.342 C 299.208 78.131,299.260 82.003,295.385 82.003 C 294.496 82.003,294.210 82.461,294.210 83.881 C 294.210 85.593,294.394 85.759,296.304 85.759 C 299.357 85.759,299.905 84.807,304.413 71.674 C 306.658 65.133,308.699 59.267,308.949 58.639 C 309.341 57.654,309.120 57.526,307.332 57.701 C 305.291 57.900,305.228 58.001,302.938 64.789 C 301.601 68.752,300.456 71.276,300.240 70.736 C 300.034 70.219,298.908 67.121,297.737 63.850 C 295.711 58.188,295.516 57.894,293.658 57.707 C 292.584 57.599,291.706 57.621,291.706 57.756 M103.110 61.668 C 105.663 63.457,105.514 72.491,102.915 73.488 C 99.434 74.824,96.711 73.341,96.036 69.741 C 94.807 63.191,98.792 58.644,103.110 61.668 M124.919 61.608 C 126.891 63.050,126.698 71.639,124.657 73.293 C 120.444 76.709,116.218 71.029,117.921 64.240 C 118.748 60.947,122.226 59.639,124.919 61.608 M179.380 61.608 C 181.351 63.050,181.158 71.639,179.117 73.293 C 174.904 76.709,170.678 71.029,172.382 64.240 C 173.208 60.947,176.686 59.639,179.380 61.608 M260.131 61.608 C 262.102 63.050,261.909 71.639,259.868 73.293 C 255.655 76.709,251.429 71.029,253.133 64.240 C 253.959 60.947,257.437 59.639,260.131 61.608 M282.040 61.608 C 284.012 63.050,283.819 71.639,281.777 73.293 C 277.564 76.709,273.338 71.029,275.042 64.240 C 275.869 60.947,279.346 59.639,282.040 61.608 M216.866 66.493 C 219.842 70.741,217.204 73.865,210.642 73.865 L 205.947 73.865 205.947 69.484 L 205.947 65.102 210.919 65.102 C 215.348 65.102,215.998 65.254,216.866 66.493 " stroke="none" fill="#000000" fill-rule="evenodd"></path>
          </a>
      </svg>

      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Profile</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
 
  
</body>

</html>