<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
   <div>
    <label id="drop" for="languages">Choose your strongest Coding Language:</label>
    <select name="languages" id="languages" class="strongest">
      <option value="None">Select a Language</option>
      <option value="Javascript">Javascript</option>
      <option value="Java">Java</option>
      <option value="SQL">SQL</option>
      <option value="Python">Python</option>
      <option value="C">C#</option>
    </select>
  </div>
  <div>
    <label for="github-signup">github Link:</label>
    <input type="text" id="github-signup" />
  </div>

  <div>
    <button type="submit">signup</button>
  </div>

</form>