* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif;
    font-weight: 300;
    color: #2ac9d4;
    background-color: #000000;
  }
  
  a {
    text-decoration: none;
    color: #2ad7e4;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: #3486eb;
  }
  
  button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #3486eb;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 48px;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #2ad7e4;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }

  #email {
    padding: 6px;
    color: #ffffff;
    background-color:#225ca3
  }

  #email:hover {
    transition: color .1s;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #2ad7e4;
  }
  

  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
    border: 2px;
    border-style: solid;
    border-color: #ffffff;
    padding: 1em;
  }
  
  .name {
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-bottom: 2px;
    margin-top: 8px;
    
  }

  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #faeacb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }

  .choose {
      margin-bottom: 20px;
  }

  .strongest{
    background-color: #225ca3;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    border-color: transparent transparent #225ca3;
    top: 7px;
    color: #ffffff;
  }

  #drop{
      padding-bottom:  8px;
      font-weight: bold;
  }

